<ul class="nav nav-pills nav-stacked">
  <li class="active"><a>Resources</a></li>
  <li>{{#link-to "resources.new" tagName="button"}}New Resource{{/link-to}}</li>

  {{#each model.resources as |resource|}}
    {{#if resource.id}}
      <li>
        {{#link-to 'resource' resource.id}}
          {{#if resource.path}}
            {{resource.path}}
          {{else}}
            {{resource.id}}
          {{/if}}
        {{/link-to}}
        <button {{action "createMethod" resource}}>New Method</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
