<ul class="nav nav-pills nav-stacked">
  <li class="active"><a>Resources</a></li>
  <li>{{#link-to "resources.new" tagName="button"}}New Resource{{/link-to}}</li>

  {{#each model as |resource|}}
    {{#if resource.id}}
      <li>
        <p>{{#link-to 'resource' resource.id}}
            {{#if resource.path}}
              <p>{{resource.path}}</p>
            {{else}}
              <p>{{resource.id}}</p>
            {{/if}}
        {{/link-to}}</p>
        <button {{action "createMethod" resource}}>New Method</button>
      </li>
    {{/if}}
  {{/each}}
</ul>