<h3>Resources</h3>
{{#link-to "resources.new" tagName="button"}}New Resource{{/link-to}}
<ul>
{{#each model as |resource|}}
  {{#if resource.id}}
    {{#link-to 'resource' resource.id}}
      <li>
          <p>{{resource.id}}</p>
          <p>{{resource.path}}</p>
          <p>{{resource.name}}</p>
          <p>{{resource.description}}</p>
      </li>
    {{/link-to}}
  {{/if}}
{{/each}}
</ul>