<ul class="nav nav-pills nav-stacked">
  <li class="active"><a>Entities</a></li>
    <li>{{#link-to "entities.new" tagName="button"}}New Entity{{/link-to}}</li>

  {{#each model.entities as |entity|}}
    {{#if entity.id}}
      <li>
        {{#link-to 'entity' entity.id}}
            {{#if entity.name}}
              {{entity.name}}
            {{else}}
              {{entity.id}}
            {{/if}}
        {{/link-to}}
        <button {{action "createProperty" entity}}>New Property</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
