<h3>Formats</h3>
<div class="panel panel-default" id="pnl">
<p>Select the Formats to use.</p>
{{#x-select value=model.format multiple=true action="save"}}
  {{#each formats as |format|}}
   {{#x-option value=format}}{{format}}{{/x-option}}
  {{/each}}
{{/x-select}}
<h4 id="sps1">Selected formats</h4>
<ul id="si">
  {{#each model.format as |format|}}
    <li>{{format}}</li>
  {{/each}}
</ul>
</div>