<!--the add API button-->
       <div class="pull-right">
            {{#link-to apiurls.new tagName="button" class="btn btn-danger "}}Add API {{/link-to}}
       </div>

       <!--Input API-->
         <div id="right">
           <div class="input-group">
              <div class="input-group-btn">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                           <span class="caret"></span>
                    </button>
              </div>
        <input type="text" class="form-control" aria-label="Text input with segmented button dropdown" placeholder="API name...">
          </div>
        </div>
