body {
    background-color: #e6e6f0;

     
}
p {
    font-family: "Times New Roman";
    font-size: 20px;
    padding-left: 300px;


}
h2 {
	padding-left: 300px;
	}

.centered {
    text-align: left;
    margin-left: 300px;

}
.pull-right{
	margin-top: 8px;
}
.col-md-3{
	background-color: #cecece;
	margin-left: 8px;

}
.row{
	margin-top: 8px;
}
.container{
}
.navbar-inverse .navbar-nav > .active > a {
    color: #141313;
    background-color: #efeff7;
}