<h2>Graphical HATEOAS API Creator</h2>
<h3>Collaboration of TU Berlin and Deutsche Telekom</h3>
<p>This web application has been created as part of the course Internet of Services Lab. The source code is freely available in <a href="https://github.com/rigvedpatki/internet-services-lab-hateoas">Github</a>.</p>
<p>Creators:</p>
<ul>
  <li>Saeed Ghasemi</li>
  <li>Rigved S. Patki</li>
  <li>S. M. Hossein Hamidi</li>
  <li>Juhana Suhonen</li>
  <li>Emilio Castellano</li>
</ul>
