{{#if model.id}}
    <h2>Resource</h2>
    <form {{action "save" on="change"}}>
      path:{{input value=model.path }}
      name:{{input value=model.name }}
      description:{{input value=model.description }}
    </form>
{{/if}}