{{#if model.id}}
    <form {{action "save" model on="change"}}>
      path:{{input value=model.path }}
      name:{{input value=model.name }}
      description:{{input value=model.description }}
    </form>
{{/if}}